.control
  border-radius 0px !important
  //background-color #e0e0e0 !important
  font-size 26px !important 
  color #212121 !important
  width calc(100% / 4);
  height 85px
  border-right .5px solid black !important
  border-bottom .5px solid black !important
  box-shadow: none !important
  &:nth-child(4n + 1)
    border-left .5px solid black

.control-wide
  width calc(100% / 2)

.grey
  background-color #e0e0e0 !important

.orange
  background-color: #ff9100 !important
  color : #fff !important

