.text-field
  background #212121
  color #fafafa
  font-size 60px
  height 90px
  width 100%
  font-weight bold
  text-transform uppercase
  display flex
  flex-direction column-reverse
  align-items end
  box-sizing border-box
  padding 0 10px 5px 0
